app/templates/contact.pug
extends includes/layout

block header
	.bread_crumbs
		a(href="index.html") Главная
			i(class="fa fa-angle-right" aria-hidden="true")
		span Контакты
	button.btn_singin Вход

block promo
	.promo_bg.contact
		h1 Контакты
block content
	.contact_block
		.title_block
			.trapezium_figure
			h2 Наш адрес
		.contact_wrap
			.left_side
				p Наш офис расположен по адресу: пр. Манаса, 9
					span (пер. ул. Московская, ориентир - банк КИКБ)
				p Телефоны: 312 904, 0550 321 550 (whatsapp)

				p Skype: ExpressUS.kg

				p Email: info@ExpressUS.kg

				p График работы:

				p Пн-Пт
					span 10:00 - 18:00 (перерыв 12:00 - 13:00)
				p Сб
					span 10:00 - 15:00 (без перерыва)
			.right_side
				.map
					.overlay
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.2735307512235!2d74.58516701547245!3d42.867070479156084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec828b4b554a9%3A0xc619e62263dd1e39!2zOSDQv9GA0L7RgdC_LiDQnNCw0L3QsNGB0LAsINCR0LjRiNC60LXQuiwg0JrQuNGA0LPQuNC30LjRjw!5e0!3m2!1sru!2s!4v1497956992016" width="500" height="350" frameborder="0" style="border:0" allowfullscreen)
		.widget
			.title_block
				.trapezium_figure
				h2 Добавляйтесь в наши группы в соц. сетях
			.social_widgets
				#vk_groups
				script(type='text/javascript') VK.Widgets.Group('vk_groups', {mode: 3, width: 'auto', height: 'auto'}, 20003922)
		
				iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgoogle&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true").fb_group
						
				iframe(src="https://tgwidget.com/channel/?id=59574a1883ba88810e8b4567" frameborder="0" scrolling="no" horizontalscrolling="no" verticalscrolling="no" async).tg_channel

app/contact.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 36x36 48x48 57x57 60x60 64x64 70x70 72x72 76x76 96x96 114x114 120x120 144x144 150x150 152x152 180x180 192x192 310x150 310x310" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i&amp;amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Express US</title>
  </head>
  <body>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?146"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src ="http://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.9";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
    <div class="grid">
      <div class="side_menu">
        <div class="wrapper" id="wrapper">
          <div class="toolbar" id="toolbar"><a href="" id="menu-toggle"><span class="burger"><i class="fa fa-bars" aria-hidden="true"></i></span></a></div>
        </div><!--sidebar-->
        <div class="sidebar-wrapper">
          <div class="logo"><a href="index.html"></a></div>
          <ul class="sidebar-nav">
            <li><a class="nav_items" href="howitwork.html">Как это работает?</a></li>
            <li><a class="nav_items" href="services.html"> Наши услуги</a></li>
            <li><a class="nav_items" href="cost.html">Стоимость</a></li>
            <li><a class="nav_items" href="stores.html">Магазины</a></li>
            <li><a class="nav_items" href="faq.html">Ответы</a></li>
            <li><a class="nav_items" href="feedback.html">Отзывы</a></li>
            <li><a class="nav_items" href="news.html"> Новости</a></li>
          </ul>
          <div class="line_decorate"></div>
          <div class="navigate_menu"><a class="nav_items" href="about.html">О компании</a><a class="nav_items" href="rules.html">Правила</a><a class="nav_items" href="contact.html"> Контакты</a>
          </div>
          <div class="contact_box"><span>0 312 312 904</span><span class="telegram">0 550 321 550</span><span class="WA">@expressus</span></div>
        </div>
      </div>
      <div class="page_container right-content">
        <header>
          <div class="bread_crumbs"><a href="index.html">Главная<i class="fa fa-angle-right" aria-hidden="true"></i></a><span>Контакты</span></div>
          <button class="btn_singin">Вход</button>
        </header>
        <div class="promo_page">
          <div class="promo_bg contact">
            <h1>Контакты</h1>
          </div>
        </div>
        <main class="main">
          <div class="contact_block">
            <div class="title_block">
              <div class="trapezium_figure"></div>
              <h2>Наш адрес</h2>
            </div>
            <div class="contact_wrap">
              <div class="left_side">
                <p>Наш офис расположен по адресу: пр. Манаса, 9<span>(пер. ул. Московская, ориентир - банк КИКБ)</span></p>
                <p>Телефоны: 312 904, 0550 321 550 (whatsapp)</p>
                <p>Skype: ExpressUS.kg</p>
                <p>Email: info@ExpressUS.kg</p>
                <p>График работы:</p>
                <p>Пн-Пт<span>10:00 - 18:00 (перерыв 12:00 - 13:00)</span></p>
                <p>Сб<span>10:00 - 15:00 (без перерыва)</span></p>
              </div>
              <div class="right_side">
                <div class="map">
                  <div class="overlay"></div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.2735307512235!2d74.58516701547245!3d42.867070479156084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec828b4b554a9%3A0xc619e62263dd1e39!2zOSDQv9GA0L7RgdC_LiDQnNCw0L3QsNGB0LAsINCR0LjRiNC60LXQuiwg0JrQuNGA0LPQuNC30LjRjw!5e0!3m2!1sru!2s!4v1497956992016" width="500" height="350" frameborder="0" style="border:0;" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="widget">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Добавляйтесь в наши группы в соц. сетях</h2>
              </div>
              <div class="social_widgets">
                <div id="vk_groups"></div>
                <script type="text/javascript">VK.Widgets.Group('vk_groups', {mode: 3, width: 'auto', height: 'auto'}, 20003922)</script>
                <iframe class="fb_group" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgoogle&amp;tabs&amp;width=340&amp;height=214&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                <iframe class="tg_channel" src="https://tgwidget.com/channel/?id=59574a1883ba88810e8b4567" frameborder="0" scrolling="no" horizontalscrolling="no" verticalscrolling="no" async></iframe>
              </div>
            </div>
          </div>
        </main>
        <footer>
          <div class="block_preview">
            <div class="text-wrap">
              <h5>C нами покупать в Америке просто!</h5>
              <p class="description_preview">Регистрируйтесь <i class="fa fa-angle-right" aria-hidden="true"></i> Покупайте <i class="fa fa-angle-right" aria-hidden="true"></i> Забирайте покупку</p><a href="stores.html">начать покупать</a>
            </div>
          </div>
          <div class="footer_map">
            <div class="col">
              <h6>О нас</h6><a href="about.html">О компании</a><a href="services.html">Наши услуги</a><a href="Feedback.html">Отзывы</a><a href="contact.html">Контакты</a>
            </div>
            <div class="col">
              <h6>Для Вас</h6><a href="howitwork.html">Как это работает?</a><a href="rules.html">Правила</a><a href="stores.html">Онлайн-магазины</a><a href="cost.html">Стоимость</a><a href="Feedback.html">Отзывы</a>
            </div>
            <div class="col">
              <h6><a href="contact.html">Контакты</a></h6>
              <div class="location">
                <p>Бишкек</p>
                <p>пр. Манаса, 9</p>
                <p>0 312 312 904<span>0 550 321 550</span></p>
                <p>Skype: ExpressUS.kg</p>
                <p>Email: info@ExpressUS.kg</p>
              </div>
            </div>
            <div class="col">
              <div class="location">
                <p>США</p>
                <p>8 McCullough Dr.,<span>suite KG23356,</span></p>
                <p>New Castle, Delaware<span>(DE) 19726 или 19726-2079</span></p>
                <p>Tel: 973-253-0050</p>
              </div>
            </div>
            <div class="col">
              <div class="logo_footer"></div>
              <p>ExpressUS 2017</p><a href="https://breez.pro/">Дизайн: Breez</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="popup">
      <div class="popup-wrap"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Вход</h2>
              </div><a class="register_form" href="#">Регистрация</a><a class="reset_form" href="#">Забыли пароль?</a>
            </div>
            <div class="wrap_form clearfix">
              <input type="email" placeholder="* Email" required>
              <input type="text" placeholder="Пароль" required>
              <input type="submit" value="Bойти">
            </div>
          </form>
        </div>
      </div>
      <div class="popup_reg">
        <div class="popup-wrap_reg"><a class="close_modal popup-close" href="#"></a>
          <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
            <form>
              <div class="popup_title clearfix">
                <div class="title_block">
                  <div class="trapezium_figure"></div>
                  <h2>Регистрация</h2>
                </div><a class="login_form" href="#">Вход</a><a class="reset_form" href="#">Забыли пароль?</a>
              </div>
              <div class="wrap_form clearfix">
                <input type="text" placeholder="Имя" required>
                <input type="text" placeholder="Фамилия" required>
                <input type="text" placeholder="Телефон" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Пароль" required>
                <input type="password" placeholder="Повтор пароля" required>
                <label class="bi-checkbox" for="rules">
                  <input type="checkbox" id="rules" required>
                  <div class="fake-checkbox">
                    <div class="check"></div>
                  </div>
                  <div class="icon"></div>
                  <p>Я согласен с<a href="rules.html">правилами</a></p>
                </label>
                <p>Перед совершением покупок необходимо будет подробнее заполнить информацию о себе в<span>Личном кабинете</span></p>
                <div class="g-recaptcha" data-sitekey="6Lf9RCgUAAAAAN3tHIfymNgP97J903J93YgFgyJm"></div>
                <input type="submit" value="Регистрация">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="popup-wrap_reset"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Вход</h2>
              </div><a class="login_form" href="#">Вход</a><a class="register_form" href="#">Регистрация</a>
            </div>
            <div class="wrap_form clearfix">
              <input type="email" placeholder="* Email" required>
              <input type="submit" value="Отправить">
            </div>
          </form>
        </div>
      </div>
      <div class="popup-wrap_feed"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Ваш отзыв</h2>
              </div>
            </div>
            <div class="wrap_form clearfix">
              <input type="text" placeholder="Имя" required>
              <input type="text" placeholder="Телефон" required>
              <textarea placeholder="Напишите ваш отзыв" maxlength="500"></textarea>
              <input type="submit" value="Отправить">
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="vendor/jquery/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="vendor/slick/slick.min.js"></script>
    <script src="vendor/filterizr/jquery.filterizr.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="js/controls.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">$(function(){$('.filtr-container').filterizr();});</script>
  </body>
</html>
