app/cost.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 36x36 48x48 57x57 60x60 64x64 70x70 72x72 76x76 96x96 114x114 120x120 144x144 150x150 152x152 180x180 192x192 310x150 310x310" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i&amp;amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Express US</title>
  </head>
  <body>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?146"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src ="http://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.9";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
    <div class="grid">
      <div class="side_menu">
        <div class="wrapper" id="wrapper">
          <div class="toolbar" id="toolbar"><a href="" id="menu-toggle"><span class="burger"><i class="fa fa-bars" aria-hidden="true"></i></span></a></div>
        </div><!--sidebar-->
        <div class="sidebar-wrapper">
          <div class="logo"><a href="index.html"></a></div>
          <ul class="sidebar-nav">
            <li><a class="nav_items" href="howitwork.html">Как это работает?</a></li>
            <li><a class="nav_items" href="services.html"> Наши услуги</a></li>
            <li><a class="nav_items" href="cost.html">Стоимость</a></li>
            <li><a class="nav_items" href="stores.html">Магазины</a></li>
            <li><a class="nav_items" href="faq.html">Ответы</a></li>
            <li><a class="nav_items" href="feedback.html">Отзывы</a></li>
            <li><a class="nav_items" href="news.html"> Новости</a></li>
          </ul>
          <div class="line_decorate"></div>
          <div class="navigate_menu"><a class="nav_items" href="about.html">О компании</a><a class="nav_items" href="rules.html">Правила</a><a class="nav_items" href="contact.html"> Контакты</a>
          </div>
          <div class="contact_box"><span>0 312 312 904</span><span class="telegram">0 550 321 550</span><span class="WA">@expressus</span></div>
        </div>
      </div>
      <div class="page_container right-content">
        <header>
          <div class="bread_crumbs"><a href="index.html">Главная<i class="fa fa-angle-right" aria-hidden="true"></i></a><span>Стоимость</span></div>
          <button class="btn_singin">Вход</button>
        </header>
        <div class="promo_page">
          <div class="promo_bg stores">
            <h1>Стоимость</h1>
            <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
          </div>
        </div>
        <main class="main">
          <div class="packages_block">
            <div class="package_box">
              <div class="term_title">
                <div class="trapezium_figure"></div>
                <h5>Самостоятельный заказ</h5>
              </div>
              <div class="prices_box">
                <table>
                  <tr>
                    <td>
                      <h6>Постоянный тариф:</h6>
                    </td>
                    <td>
                      <h6>Комиссия:</h6>
                    </td>
                    <td>
                      <h6>Консолидация покупок:</h6>
                    </td>
                  </tr>
                  <tr>
                    <td class="accent">
                      <p class="price accent">694</p>
                      <p class="assignation accent">сом / за 1 кг</p>
                    </td>
                    <td>
                      <p class="price">0$</p>
                    </td>
                    <td>
                      <p class="price">0$</p>
                    </td>
                  </tr>
                </table>
                <p class="description">Доставка:<span>4-7 рабочих дней</span></p>
                <button class="reg_button">зарегистрироваться</button>
              </div>
            </div>
            <div class="package_box">
              <div class="term_title clearfix">
                <div class="trapezium_figure"></div>
                <h5>Заказ с помощью эксперта</h5>
              </div><span class="estimate_text clearfix">(Минимальная комиссия 350 сом с одного сайта)</span>
              <div class="prices_box">
                <table>
                  <tr>
                    <td>
                      <h6>Постоянный тариф:</h6>
                    </td>
                    <td>
                      <h6>Комиссия:</h6>
                    </td>
                    <td>
                      <h6>Консолидация покупок:</h6>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="price accent">694</p>
                      <p class="assignation accent">сом / за 1 кг</p>
                    </td>
                    <td><span class="price">7%</span></td>
                    <td><span class="price">0$</span></td>
                  </tr>
                </table>
                <p class="description">Доставка:<span>4-7 рабочих дней</span></p>
                <button class="reg_button">зарегистрироваться</button>
              </div>
            </div>
          </div>
          <div class="container_interactions">
            <div class="title_block">
              <div class="trapezium_figure"></div>
              <h2>Мобильные устройства и мелкая электроника</h2>
            </div>
            <div class="info_content clearfix">
              <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.<a href="#">Мобильные телефоны</a><a href="#">Планшеты</a><a href="#">Фото и видео оборудование</a><a href="#">Наручные часы</a><a href="#">Mp3 - плееры</a><a href="#">Электронные книги</a><a href="#">Другая техника</a></p>
            </div>
            <div class="store_info clearfix">
              <div class="wrap_img"><img src="uploads/amazon.jpg"></div>
              <div class="wrap_img"><img src="uploads/ebay.jpg"></div>
              <div class="clear"></div>
              <div class="link"><a href="stores.html">Смотреть все магазины</a></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="block_sample">
            <div class="title_lable">
              <div class="trapezium_figure_border"></div>
              <h3>Рассчет стоимости по физическому и объемному весу</h3>
            </div>
            <div class="upper_wrap_box">
              <div class="side_left">
                <div class="img_box"><img src="uploads/Our-services_2.jpg"></div>
                <p>- на сайтах <a href="stores.html">amazon.com, ebay.com</a> минимальная комиссия 345 сомов применяется на заказы с нашей помощью у каждого отдельного продавца. Это связано со значительными временными затратами по учету и отслеживанию каждого отдельного заказа (трекинг номера).</p>
              </div>
              <div class="side_right">
                <div class="text_block">
                  <p>Формула для расчета объемного веса коробки в кг:<span>длина (см) х ширина (см) х высота (см) / 6000*</span></p>
                  <p>Стоимость перевозки рассчитывается по физическому или объемному весу (округления нет). В расчет берется большее из двух значений.</p><span>*окончательная стоимость доставки зависит от курса доллара к сому на момент оплаты</span>
                  <p>Минимальная стоимость доставки каждой отдельной посылки (с самостоятельным трекинг номером) составит 139 сомов (это касается как самостоятельных заказов, так и заказов с нашей помощью).</p>
                  <p>Например, если Вы получаете 2 посылки (одна весом 1 кг, а вторая - 50 г), то стоимость доставки составит 694 с. + 139 с. = 833 сомов.</p>
                </div>
              </div>
            </div>
            <div class="undder_wrap_box">
              <div class="col_left">
                <h4>Калькурятор рассчета объемного веса посылки</h4>
              </div>
              <div class="col_right">
                <div class="box_calc">
                  <form></form>
                  <div class="box_calc_border">
                    <input type="text" placeholder="Длина" name="length">
                    <input type="text" placeholder="Ширина" name="width">
                    <input type="text" placeholder="Высота" name="height">
                    <button onclick="calculate()">рассчитать</button>
                  </div>
                  <div class="count"><span>Результат</span>
                    <input type="text" placeholder="XXXX" value="XXXX" name="result" disabled><span>кг</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <footer>
          <div class="block_preview">
            <div class="text-wrap">
              <h5>C нами покупать в Америке просто!</h5>
              <p class="description_preview">Регистрируйтесь <i class="fa fa-angle-right" aria-hidden="true"></i> Покупайте <i class="fa fa-angle-right" aria-hidden="true"></i> Забирайте покупку</p><a href="stores.html">начать покупать</a>
            </div>
          </div>
          <div class="footer_map">
            <div class="col">
              <h6>О нас</h6><a href="about.html">О компании</a><a href="services.html">Наши услуги</a><a href="Feedback.html">Отзывы</a><a href="contact.html">Контакты</a>
            </div>
            <div class="col">
              <h6>Для Вас</h6><a href="howitwork.html">Как это работает?</a><a href="rules.html">Правила</a><a href="stores.html">Онлайн-магазины</a><a href="cost.html">Стоимость</a><a href="Feedback.html">Отзывы</a>
            </div>
            <div class="col">
              <h6><a href="contact.html">Контакты</a></h6>
              <div class="location">
                <p>Бишкек</p>
                <p>пр. Манаса, 9</p>
                <p>0 312 312 904<span>0 550 321 550</span></p>
                <p>Skype: ExpressUS.kg</p>
                <p>Email: info@ExpressUS.kg</p>
              </div>
            </div>
            <div class="col">
              <div class="location">
                <p>США</p>
                <p>8 McCullough Dr.,<span>suite KG23356,</span></p>
                <p>New Castle, Delaware<span>(DE) 19726 или 19726-2079</span></p>
                <p>Tel: 973-253-0050</p>
              </div>
            </div>
            <div class="col">
              <div class="logo_footer"></div>
              <p>ExpressUS 2017</p><a href="https://breez.pro/">Дизайн: Breez</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="popup">
      <div class="popup-wrap"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Вход</h2>
              </div><a class="register_form" href="#">Регистрация</a><a class="reset_form" href="#">Забыли пароль?</a>
            </div>
            <div class="wrap_form clearfix">
              <input type="email" placeholder="* Email" required>
              <input type="text" placeholder="Пароль" required>
              <input type="submit" value="Bойти">
            </div>
          </form>
        </div>
      </div>
      <div class="popup_reg">
        <div class="popup-wrap_reg"><a class="close_modal popup-close" href="#"></a>
          <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
            <form>
              <div class="popup_title clearfix">
                <div class="title_block">
                  <div class="trapezium_figure"></div>
                  <h2>Регистрация</h2>
                </div><a class="login_form" href="#">Вход</a><a class="reset_form" href="#">Забыли пароль?</a>
              </div>
              <div class="wrap_form clearfix">
                <input type="text" placeholder="Имя" required>
                <input type="text" placeholder="Фамилия" required>
                <input type="text" placeholder="Телефон" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Пароль" required>
                <input type="password" placeholder="Повтор пароля" required>
                <label class="bi-checkbox" for="rules">
                  <input type="checkbox" id="rules" required>
                  <div class="fake-checkbox">
                    <div class="check"></div>
                  </div>
                  <div class="icon"></div>
                  <p>Я согласен с<a href="rules.html">правилами</a></p>
                </label>
                <p>Перед совершением покупок необходимо будет подробнее заполнить информацию о себе в<span>Личном кабинете</span></p>
                <div class="g-recaptcha" data-sitekey="6Lf9RCgUAAAAAN3tHIfymNgP97J903J93YgFgyJm"></div>
                <input type="submit" value="Регистрация">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="popup-wrap_reset"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Вход</h2>
              </div><a class="login_form" href="#">Вход</a><a class="register_form" href="#">Регистрация</a>
            </div>
            <div class="wrap_form clearfix">
              <input type="email" placeholder="* Email" required>
              <input type="submit" value="Отправить">
            </div>
          </form>
        </div>
      </div>
      <div class="popup-wrap_feed"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Ваш отзыв</h2>
              </div>
            </div>
            <div class="wrap_form clearfix">
              <input type="text" placeholder="Имя" required>
              <input type="text" placeholder="Телефон" required>
              <textarea placeholder="Напишите ваш отзыв" maxlength="500"></textarea>
              <input type="submit" value="Отправить">
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="vendor/jquery/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="vendor/slick/slick.min.js"></script>
    <script src="vendor/filterizr/jquery.filterizr.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="js/controls.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">$(function(){$('.filtr-container').filterizr();});</script>
  </body>
</html>

app/templates/cost.pug
extends includes/layout
block header
	.bread_crumbs
		a(href="index.html") Главная
			i(class="fa fa-angle-right" aria-hidden="true")
		span Стоимость
	button.btn_singin Вход
block promo
	.promo_bg.stores
		h1 Стоимость
		p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
block content
	block cost
		include includes/price
	.container_interactions
		.title_block
			.trapezium_figure
			h2 Мобильные устройства и мелкая электроника
		.info_content.clearfix
			p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
				a(href="#") Мобильные телефоны
				a(href="#") Планшеты
				a(href="#") Фото и видео оборудование
				a(href="#") Наручные часы
				a(href="#") Mp3 - плееры
				a(href="#") Электронные книги
				a(href="#") Другая техника
		.store_info.clearfix
			.wrap_img
				img(src="uploads/amazon.jpg")
			.wrap_img
				img(src="uploads/ebay.jpg")
			.clear
			.link
				a(href="stores.html") Смотреть все магазины
		.clear
	.block_sample
		.title_lable
			.trapezium_figure_border
			h3 Рассчет стоимости по физическому и объемному весу
		.upper_wrap_box
			.side_left
				.img_box
					img(src="uploads/Our-services_2.jpg")
				p - на сайтах <a href="stores.html">amazon.com, ebay.com</a> минимальная комиссия 345 сомов применяется на заказы с нашей помощью у каждого отдельного продавца. Это связано со значительными временными затратами по учету и отслеживанию каждого отдельного заказа (трекинг номера).
			.side_right
				.text_block
					p Формула для расчета объемного веса коробки в кг:
						span длина (см) х ширина (см) х высота (см) / 6000*
					p Стоимость перевозки рассчитывается по физическому или объемному весу (округления нет). В расчет берется большее из двух значений.
					span *окончательная стоимость доставки зависит от курса доллара к сому на момент оплаты
					p Минимальная стоимость доставки каждой отдельной посылки (с самостоятельным трекинг номером) составит 139 сомов (это касается как самостоятельных заказов, так и заказов с нашей помощью).

					p Например, если Вы получаете 2 посылки (одна весом 1 кг, а вторая - 50 г), то стоимость доставки составит 694 с. + 139 с. = 833 сомов.
		.undder_wrap_box
			.col_left
				h4 Калькурятор рассчета объемного веса посылки
			.col_right
				.box_calc
					form
					.box_calc_border
						input(type="text" placeholder="Длина" name="length")
						input(type="text" placeholder="Ширина" name="width")
						input(type="text" placeholder="Высота" name="height")
						button(onclick="calculate()") рассчитать
					.count
						span Результат
						input(type="text" placeholder="XXXX" value="XXXX" name="result" disabled)
						span кг
