app/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 36x36 48x48 57x57 60x60 64x64 70x70 72x72 76x76 96x96 114x114 120x120 144x144 150x150 152x152 180x180 192x192 310x150 310x310" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i&amp;amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Express US</title>
  </head>
  <body>
    <div class="grid authorized">
      <div class="side_menu">
        <div class="wrapper" id="wrapper">
          <div class="toolbar" id="toolbar"><a href="" id="menu-toggle"><span class="burger"><i class="fa fa-bars" aria-hidden="true"></i></span></a></div>
        </div><!--sidebar-->
        <div class="sidebar-wrapper">
          <div class="logo"><a href="index.html"></a></div>
          <ul class="sidebar-nav">
            <li><a class="nav_items" href="howitwork.html">Как это работает?</a></li>
            <li><a class="nav_items" href="services.html"> Наши услуги</a></li>
            <li><a class="nav_items" href="cost.html">Стоимость</a></li>
            <li><a class="nav_items" href="stores.html">Магазины</a></li>
            <li><a class="nav_items" href="faq.html">Ответы</a></li>
            <li><a class="nav_items" href="feedback.html">Отзывы</a></li>
            <li><a class="nav_items" href="news.html"> Новости</a></li>
          </ul>
          <div class="line_decorate"></div>
          <div class="navigate_menu"><a class="nav_items" href="about.html">О компании</a><a class="nav_items" href="rules.html">Правила</a><a class="nav_items" href="contact.html"> Контакты</a>
          </div>
          <div class="contact_box"><span>0 312 312 904</span><span class="telegram">0 550 321 550</span><span class="WA">@expressus</span></div>
        </div>
      </div>
      <div class="page_container right-content">
        <header class="header">
          <div class="btn_wrap"><a class="btn_checkout" href="user_profile.html">оформить заказ</a><a class="lnk_my_orders" href="user_profile_find_new.html">мои заказы</a></div>
          <div class="user_profile">
            <div class="user_name">Алекс Дельперо</div><a class="edit" href="">Редактировать</a>
            <button class="btn_exite">Выход</button>
          </div>
        </header>
        <main class="main">
          <div class="grid_indent">
            <div class="promo">
              <div class="title_promo">
                <h1>Доставка до двери</h1>
                <p>До посылок более 2 кг доставка в черте города бысплатно</p><a href="#">ПОДРОБНЕЕ</a>
              </div>
              <div class="showcases">
                <div class="case_box">
                  <h3>Товары из лучших онлайн-магазинов США</h3>
                  <p>для Вас мы создали каталог лучших магазинов</p><a href="stores.html">Посмотреть магазины</a>
                </div>
                <div class="case_box">
                  <h3>Экономите до<span>80%</span></h3>
                  <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
                  <button class="reg_button">зарегистрироваться</button>
                </div>
                <div class="case_box">
                  <h3>Качество мирового уровня</h3>
                  <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="block_service">
            <div class="title_block">
              <div class="trapezium_figure"></div>
              <h2>Как это работает?</h2>
            </div>
            <div class="filter_col_service col_1">
              <div class="headline_box">
                <div class="trapezium_figure"></div>
                <div class="title_lable"><span>1</span>
                  <div class="descrip clearfix">
                    <h4>Регистрируйтесь</h4>
                    <p>это займет всего 2 минуты</p>
                  </div>
                </div>
              </div>
              <button class="reg_button">зарегистрироваться</button>
            </div>
            <div class="filter_col_service col_2">
              <div class="headline_box">
                <div class="trapezium_figure"></div>
                <div class="title_lable"><span>2</span>
                  <div class="descrip clearfix">
                    <h4>Делайте покупки</h4>
                    <p>самостоятельно или с помощью нашего эксперта</p>
                  </div>
                  <div class="clear"></div>
                </div>
              </div><a href="#">Услуги наших экспертов</a>
            </div>
            <div class="filter_col_service col_3">
              <div class="headline_box">
                <div class="trapezium_figure"></div>
                <div class="title_lable"><span>3</span>
                  <div class="descrip clearfix">
                    <h4>Делайте покупки</h4>
                    <p>самостоятельно или с помощью нашего эксперта</p>
                  </div>
                </div>
              </div><a href="#">Услуги наших экспертов</a>
            </div>
            <div class="filter_col_service col_4">
              <div class="headline_box">
                <div class="trapezium_figure"></div>
                <div class="title_lable"><span>4</span>
                  <div class="descrip clearfix">
                    <h4>Получайте свой заказ</h4>
                    <p>Ваша покупка прибудет в течении 4-7 дней</p>
                  </div>
                </div>
              </div><a href="#">Получайте заказ у нас в офисе либо воспользуйтесь услугой доставки</a>
            </div>
          </div>
          <div class="price_block">
            <div class="title_block">
              <div class="trapezium_figure"></div>
              <h2>Стоимость и сроки доставки</h2>
            </div>
            <div class="packages_block">
              <div class="package_box">
                <div class="term_title">
                  <div class="trapezium_figure"></div>
                  <h5>Самостоятельный заказ</h5>
                </div>
                <div class="prices_box">
                  <table>
                    <tr>
                      <td>
                        <h6>Постоянный тариф:</h6>
                      </td>
                      <td>
                        <h6>Комиссия:</h6>
                      </td>
                      <td>
                        <h6>Консолидация покупок:</h6>
                      </td>
                    </tr>
                    <tr>
                      <td class="accent">
                        <p class="price accent">694</p>
                        <p class="assignation accent">сом / за 1 кг</p>
                      </td>
                      <td>
                        <p class="price">0$</p>
                      </td>
                      <td>
                        <p class="price">0$</p>
                      </td>
                    </tr>
                  </table>
                  <p class="description">Доставка:<span>4-7 рабочих дней</span></p>
                  <button class="reg_button">зарегистрироваться</button>
                </div>
              </div>
              <div class="package_box">
                <div class="term_title clearfix">
                  <div class="trapezium_figure"></div>
                  <h5>Заказ с помощью эксперта</h5>
                </div><span class="estimate_text clearfix">(Минимальная комиссия 350 сом с одного сайта)</span>
                <div class="prices_box">
                  <table>
                    <tr>
                      <td>
                        <h6>Постоянный тариф:</h6>
                      </td>
                      <td>
                        <h6>Комиссия:</h6>
                      </td>
                      <td>
                        <h6>Консолидация покупок:</h6>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="price accent">694</p>
                        <p class="assignation accent">сом / за 1 кг</p>
                      </td>
                      <td><span class="price">7%</span></td>
                      <td><span class="price">0$</span></td>
                    </tr>
                  </table>
                  <p class="description">Доставка:<span>4-7 рабочих дней</span></p>
                  <button class="reg_button">зарегистрироваться</button>
                </div>
              </div>
            </div>
            <div class="note_box clearfix">
              <div class="title_lable">
                <div class="trapezium_figure transparency"></div>
                <div class="note_info">
                  <p>Бесплатно:</p>
                  <p>Уменьшим вес<span>Убрав упаковку от магазина можно сэконимить до 15%</span></p>
                  <p>Проконсультируем<span>По вопросам шоппинга, доставки и таможенным услугам</span></p>
                </div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="wrap_link_detail"><a class="link_detail" href="#">ПОДРОБНЕЕ О доставке</a></div>
          </div>
          <div class="client_block">
            <div class="title_block">
              <div class="trapezium_figure"></div>
              <h2>Отзывы</h2>
            </div>
            <div class="slider_opinion responsive add-remove">
              <div class="comment_box">
                <h4 class="person">Алекс Дельперо</h4>
                <p class="comment">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
              </div>
              <div class="comment_box">
                <h4 class="person">Алекс Дельперо</h4>
                <p class="comment"><span>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span><span>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span></p>
              </div>
              <div class="comment_box">
                <h4 class="person">Алекс Дельперо</h4>
                <p class="comment"><span>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span><span>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span></p>
              </div>
              <div class="comment_box">
                <h4 class="person">Алекс Дельперо</h4>
                <p class="comment">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
              </div>
              <div class="comment_box">
                <h4 class="person">Алекс Дельперо</h4>
                <p class="comment"><span>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span><span>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span></p>
              </div>
              <div class="comment_box">
                <h4 class="person">Алекс Дельперо</h4>
                <p class="comment"><span>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span><span>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span></p>
              </div>
              <div class="comment_box">
                <h4 class="person">Алекс Дельперо</h4>
                <p class="comment">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
              </div>
              <div class="comment_box">
                <h4 class="person">Алекс Дельперо</h4>
                <p class="comment"><span>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span><span>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span></p>
              </div>
              <div class="comment_box">
                <h4 class="person">Алекс Дельперо</h4>
                <p class="comment"><span>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span><span>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</span></p>
              </div>
            </div>
            <div class="wrap_link_detail"><a href="#">Все отзывы</a></div>
          </div>
          <div class="markets_block">
            <div class="title_block">
              <div class="trapezium_figure"></div>
              <h2>Самые популярные магазины</h2>
            </div>
            <div class="market_title">
              <p>Чтобы начать покупать в США осталось</p>
              <button class="reg_button">зарегистрироваться</button>
              <div class="online_stores"></div>
              <div class="filtr-item"><img src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/levis.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/levis.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="middle"><a href="#">Все категории магазинов</a></div>
            </div>
          </div>
          <div class="news_block">
            <div class="title_block">
              <div class="trapezium_figure"></div>
              <h2>Новости</h2>
            </div>
            <div class="news_block_wrap">
              <div class="box_news">
                <div class="date"><span>23.03.2017</span></div>
                <h3>Доставка до двери</h3>
                <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p><a href="#">Подробнее</a>
              </div>
              <div class="box_news">
                <div class="date"><span>23.03.2017</span></div>
                <h3>Доставка до двери</h3>
                <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p><a href="#">Подробнее</a>
              </div>
              <div class="box_news">
                <div class="date"><span>23.03.2017</span></div>
                <h3>Доставка до двери</h3>
                <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p><a href="#">Подробнее</a>
              </div>
            </div>
            <div class="detail_link"><a href="#">Все новости</a></div>
          </div>
        </main>
        <footer>
          <div class="footer_map">
            <div class="col">
              <h6>О нас</h6><a href="about.html">О компании</a><a href="our_services.html">Наши услуги</a><a href="Feedback.html">Отзывы</a><a href="contact.html">Контакты</a>
            </div>
            <div class="col">
              <h6>Для Вас</h6><a href="howitwork.html">Как это работает?</a><a href="rules.html">Правила</a><a href="onlineshop.html">Онлайн-магазины</a><a href="costs.html">Стоимость</a><a href="Feedback.html">Отзывы</a>
            </div>
            <div class="col">
              <h6><a href="contact.html">Контакты</a></h6>
              <div class="location">
                <p>Бишкек</p>
                <p>пр. Манаса, 9</p>
                <p>0 312 312 904<span>0 550 321 550</span></p>
                <p>Skype: ExpressUS.kg</p>
                <p>Email: info@ExpressUS.kg</p>
              </div>
            </div>
            <div class="col">
              <div class="location">
                <p>США</p>
                <p>8 McCullough Dr.,<span>suite KG23356,</span></p>
                <p>New Castle, Delaware<span>(DE) 19726 или 19726-2079</span></p>
                <p>Tel: 973-253-0050</p>
              </div>
            </div>
            <div class="col">
              <div class="logo_footer"></div>
              <p>ExpressUS 2017</p>
              <p>Дизайн: Breez</p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="popup">
      <div class="popup-wrap"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Вход</h2>
              </div><a class="register_form" href="#">Регистрация</a><a class="reset_form" href="#">Забыли пароль?</a>
            </div>
            <div class="wrap_form clearfix">
              <input type="email" placeholder="* Email" required>
              <input type="text" placeholder="Пароль" required>
              <input type="submit" value="Bойти">
            </div>
          </form>
        </div>
      </div>
      <div class="popup_reg">
        <div class="popup-wrap_reg"><a class="close_modal popup-close" href="#"></a>
          <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
            <form>
              <div class="popup_title clearfix">
                <div class="title_block">
                  <div class="trapezium_figure"></div>
                  <h2>Регистрация</h2>
                </div><a class="login_form" href="#">Вход</a><a class="reset_form" href="#">Забыли пароль?</a>
              </div>
              <div class="wrap_form clearfix">
                <input type="text" placeholder="Имя" required>
                <input type="text" placeholder="Фамилия" required>
                <input type="text" placeholder="Телефон" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Пароль" required>
                <input type="password" placeholder="Повтор пароля" required>
                <label class="bi-checkbox" for="rules">
                  <input type="checkbox" id="rules" required>
                  <div class="fake-checkbox">
                    <div class="check"></div>
                  </div>
                  <div class="icon"></div>
                  <p>Я согласен с<a href="rules.html">правилами</a></p>
                </label>
                <p>Перед совершением покупок необходимо будет подробнее заполнить информацию о себе в<span>Личном кабинете</span></p>
                <div class="g-recaptcha" data-sitekey="6Lf9RCgUAAAAAN3tHIfymNgP97J903J93YgFgyJm"></div>
                <input type="submit" value="Регистрация">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="popup-wrap_reset"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Вход</h2>
              </div><a class="login_form" href="#">Вход</a><a class="register_form" href="#">Регистрация</a>
            </div>
            <div class="wrap_form clearfix">
              <input type="email" placeholder="* Email" required>
              <input type="submit" value="Отправить">
            </div>
          </form>
        </div>
      </div>
      <div class="popup-wrap_feed"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Ваш отзыв</h2>
              </div>
            </div>
            <div class="wrap_form clearfix">
              <input type="text" placeholder="Имя" required>
              <input type="text" placeholder="Телефон" required>
              <textarea placeholder="Напишите ваш отзыв" maxlength="500"></textarea>
              <input type="submit" value="Отправить">
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="vendor/jquery/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="vendor/slick/slick.min.js"></script>
    <script src="vendor/filterizr/jquery.filterizr.js"></script>
    <script src="js/controls.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

app/templates/index.pug
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="shortcut icon" sizes="16x16 24x24 32x32 36x36 48x48 57x57 60x60 64x64 70x70 72x72 76x76 96x96 114x114 120x120 144x144 150x150 152x152 180x180 192x192 310x150 310x310" href="favicon.ico")
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.css")
		link(rel="stylesheet" href="vendor/slick/slick.css")
		link(rel="stylesheet" href="vendor/slick/slick-theme.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/style.css")
		title Express US
	body
		.grid.authorized
			.side_menu
				block sidemenu
					include includes/sidemenu
			.page_container.right-content
				header.header
					.btn_wrap
						a(href="user_profile.html" class="btn_checkout") оформить заказ
						a(href="user_profile_find_new.html").lnk_my_orders мои заказы
					.user_profile
						.user_name Алекс Дельперо
						a(href="").edit Редактировать
						button.btn_exite Выход
				main.main
					.grid_indent
						.promo
							.title_promo
								h1 Доставка до двери
								p До посылок более 2 кг доставка в черте города бысплатно
								a(href="#" class="") ПОДРОБНЕЕ
							.showcases
								.case_box
									h3 Товары из лучших онлайн-магазинов США
									p для Вас мы создали каталог лучших магазинов
									a(href="stores.html") Посмотреть магазины
								.case_box
									h3 Экономите до
										span 80%
									p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
									button.reg_button зарегистрироваться
								.case_box
									h3 Качество мирового уровня
									p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
					.block_service
						.title_block
							.trapezium_figure
							h2 Как это работает?
						.filter_col_service.col_1
							.headline_box
								.trapezium_figure
								.title_lable
									span 1
									.descrip.clearfix
										h4 Регистрируйтесь
										p это займет всего 2 минуты
							button.reg_button зарегистрироваться
						.filter_col_service.col_2
							.headline_box
								.trapezium_figure
								.title_lable
									span 2
									.descrip.clearfix
										h4 Делайте покупки
										p самостоятельно или с помощью нашего эксперта
									.clear
							a(href="#") Услуги наших экспертов
						.filter_col_service.col_3
							.headline_box
								.trapezium_figure
								.title_lable
									span 3
									.descrip.clearfix
										h4 Делайте покупки
										p самостоятельно или с помощью нашего эксперта
							a(href="#") Услуги наших экспертов
						.filter_col_service.col_4
							.headline_box
								.trapezium_figure
								.title_lable
									span 4
									.descrip.clearfix
										h4 Получайте свой заказ
										p Ваша покупка прибудет в течении 4-7 дней
							a(href="#") Получайте заказ у нас в офисе либо воспользуйтесь услугой доставки
					.price_block
						.title_block
							.trapezium_figure
							h2 Стоимость и сроки доставки
						.packages_block
							.package_box
								.term_title
									.trapezium_figure
									h5 Самостоятельный заказ
								.prices_box
									table
										tr
											td
												h6 Постоянный тариф:
											td
												h6 Комиссия:
											td
												h6 Консолидация покупок:
										tr
											td.accent
												p.price.accent 694
												p.assignation.accent сом / за 1 кг
											td
												p.price 0$
											td
												p.price 0$
									p.description Доставка:
										span 4-7 рабочих дней
									button.reg_button зарегистрироваться
							.package_box
								.term_title.clearfix
									.trapezium_figure
									h5 Заказ с помощью эксперта
								span.estimate_text.clearfix (Минимальная комиссия 350 сом с одного сайта)
								.prices_box
									table
										tr
											td
												h6 Постоянный тариф:
											td
												h6 Комиссия:
											td
												h6 Консолидация покупок:
										tr
											td
												p.price.accent 694
												p.assignation.accent сом / за 1 кг
											td
												span.price 7%
											td
												span.price 0$
									p.description Доставка:
										span 4-7 рабочих дней
									button.reg_button зарегистрироваться
						.note_box.clearfix
							.title_lable
								.trapezium_figure.transparency
								.note_info
									p Бесплатно:
									p Уменьшим вес
										span Убрав упаковку от магазина можно сэконимить до 15%
									p Проконсультируем
										span По вопросам шоппинга, доставки и таможенным услугам
							.clear
						.wrap_link_detail
							a(href="#" class="link_detail" ) ПОДРОБНЕЕ О доставке
					.client_block
						.title_block
							.trapezium_figure
							h2 Отзывы
						.slider_opinion.responsive.add-remove
							.comment_box
								h4.person Алекс Дельперо
								p.comment Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
						.wrap_link_detail
							a(href="#") Все отзывы
					.markets_block
						.title_block
							.trapezium_figure
							h2 Самые популярные магазины
						.market_title
							p Чтобы начать покупать в США осталось
							button.reg_button зарегистрироваться
							.online_stores
							div(class="filtr-item")
								img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
							.middle
								a(href="#") Все категории магазинов
					.news_block
						.title_block
							.trapezium_figure
							h2 Новости
						.news_block_wrap
							.box_news
								.date
									span 23.03.2017
								h3 Доставка до двери
								p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
								a(href="#") Подробнее
							.box_news
								.date
									span 23.03.2017
								h3 Доставка до двери
								p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
								a(href="#") Подробнее
							.box_news
								.date
									span 23.03.2017
								h3 Доставка до двери
								p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
								a(href="#") Подробнее

						.detail_link
							a(href="#") Все новости
				footer
					.footer_map
						.col
							h6 О нас
							a(href="about.html") О компании
							a(href="our_services.html") Наши услуги
							a(href="Feedback.html") Отзывы
							a(href="contact.html") Контакты
						.col
							h6 Для Вас
							a(href="howitwork.html") Как это работает?
							a(href="rules.html") Правила
							a(href="onlineshop.html") Онлайн-магазины
							a(href="costs.html") Стоимость
							a(href="Feedback.html") Отзывы
						.col
							h6
								a(href="contact.html") Контакты
							.location
								p Бишкек
								p пр. Манаса, 9
								p 0 312 312 904
									span 0 550 321 550
								p Skype: ExpressUS.kg
								p Email: info@ExpressUS.kg
						.col
							.location
								p США
								p 8 McCullough Dr.,
									span suite KG23356,
								p New Castle, Delaware
									span (DE) 19726 или 19726-2079
								p Tel: 973-253-0050
						.col
							.logo_footer
							p ExpressUS 2017
							p Дизайн: Breez
		block popup
			include includes/popups
		script(src='vendor/jquery/jquery-3.1.1.min.js')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
		script(src='vendor/slick/slick.min.js')
		script(src='vendor/filterizr/jquery.filterizr.js')
		script(src='js/controls.js')
		script(src='js/main.js')
