app/rules.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 36x36 48x48 57x57 60x60 64x64 70x70 72x72 76x76 96x96 114x114 120x120 144x144 150x150 152x152 180x180 192x192 310x150 310x310" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i&amp;amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Express US</title>
  </head>
  <body>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?146"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src ="http://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.9";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
    <div class="grid">
      <div class="side_menu">
        <div class="wrapper" id="wrapper">
          <div class="toolbar" id="toolbar"><a href="" id="menu-toggle"><span class="burger"><i class="fa fa-bars" aria-hidden="true"></i></span></a></div>
        </div><!--sidebar-->
        <div class="sidebar-wrapper">
          <div class="logo"><a href="index.html"></a></div>
          <ul class="sidebar-nav">
            <li><a class="nav_items" href="howitwork.html">Как это работает?</a></li>
            <li><a class="nav_items" href="services.html"> Наши услуги</a></li>
            <li><a class="nav_items" href="cost.html">Стоимость</a></li>
            <li><a class="nav_items" href="stores.html">Магазины</a></li>
            <li><a class="nav_items" href="faq.html">Ответы</a></li>
            <li><a class="nav_items" href="feedback.html">Отзывы</a></li>
            <li><a class="nav_items" href="news.html"> Новости</a></li>
          </ul>
          <div class="line_decorate"></div>
          <div class="navigate_menu"><a class="nav_items" href="about.html">О компании</a><a class="nav_items" href="rules.html">Правила</a><a class="nav_items" href="contact.html"> Контакты</a>
          </div>
          <div class="contact_box"><span>0 312 312 904</span><span class="telegram">0 550 321 550</span><span class="WA">@expressus</span></div>
        </div>
      </div>
      <div class="page_container right-content">
        <header>
          <div class="bread_crumbs"><a href="index.html">Главная<i class="fa fa-angle-right" aria-hidden="true"></i></a><span>Правила</span></div>
          <button class="btn_singin">Вход</button>
        </header>
        <div class="promo_page">
          <div class="promo_bg faq">
            <h1>Правила</h1>
            <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил.</p>
          </div>
        </div>
        <main class="main">
          <div class="block_rules">
            <div class="title_rules">
              <h3>Правила предоставления услуг по пересылке почтовых отправлений</h3>
            </div>
            <div class="rules_body">
              <div class="section">
                <h4>1.Используемые определения</h4>
                <p><span>Исполнитель</span> – компания ExpressUS (ОсОО «Экспресс-Ю-Эс»), предоставляющая услуги по пересылке почтовых отправлений из Соединенных Штатов Америки (США) в Кыргызскую Республику в соответствии с условиями пункта 1 раздела I Инструкции «О перемещении товаров и автотранспорта через государственную границу Кыргызской Республики физическими лицами», утвержденной постановлением Правительства Кыргызской Республики «Об утверждении Инструкции о перемещении товаров и автотранспорта через государственную границу Кыргызской Республики физическими лицами» от 31 декабря 2004 года N 976.</p>
                <p><span>Пользователь</span> – клиент компании ExpressUS (ОсОО «Экспресс-Ю-Эс»), согласившийся на сотрудничество согласно настоящим Условиям.</p>
                <p><span>Уникальный почтовый адрес</span> - почтовый адрес, находящийся на территории США, штат Делавер, который может быть использован Пользователем для получения заказов из интернет магазинов в целях дальнейшего переправления в Кыргызскую Республику. Уникальный Почтовый Адрес указан на главной странице сайта http://expressus.kg/.</p>
                <p><span>Заказ в интернет магазине (или заказы)</span> – одна или более вещей, приобретенных Исполнителем или Пользователем в интернет магазине, отправленных из интернет магазина на Уникальный почтовый адрес Исполнителя в США, и имеющий уникальный трекинг номер.</p>
                <p><span>Самостоятельный заказ</span> - заказ, сделанный и оплаченный Пользователем самостоятельно.</p>
                <p><span>Заказ через ExpressUS</span> - заказ, сделанный и оплаченный ExpressUS по просьбе Пользователя.</p>
                <p><span>Трекинг номер (номер отслеживания или tracking number)</span> – уникальный номер, присваиваемый почтовой или курьерской службой, для идентификации почтового отправления в системе доставки почтовой или курьерской службы, а также использующийся Исполнителем и Пользователем в целях отслеживания движения заказа.</p>
                <p><span>Невостребованные заказы</span> – заказы, не востребованные в течение 14 календарных дней с момента доставки в г. Бишкек, Кыргызская Республика.</p>
                <p><span>Запрещенные товары</span> - товары, которые запрещены к отправке из США в Бишкек в соответствии с законодательством США и Кыргызской Республики, а также политикой Исполнителя.</p>
              </div>
            </div>
            <div class="section">
              <h4>2.Оказываемые услуги</h4>
              <p>Исполнитель обязуется оказать следующие Услуги по пересылке почтовых отправлений:</p>
              <ul>
                <li>предоставить Уникальный почтовый адрес на территории штата Делавер (США) для получения заказов, размещенных и 	   			оплаченных Пользователем или Исполнителем в интернет магазинах;</li>
                <li>получить Заказы, размещенные и оплаченные Пользователем или Исполнителем и доставленные почтовыми службами по 			Уникальному почтовому адресу;</li>
                <li>информировать Пользователя о движении Заказа через систему сайта http://expressus.kg/, а также по электронной почте (при 		условии верного оформления заказа Пользователем);</li>
                <li>Исполнитель строго следит за тем, чтобы к отправлению в Кыргызстан не попали товары, запрещенные к пересылке. При 			обнаружении запрещенных к пересылке предметов таковые изымаются из вложения. Исполнитель может осуществить 				возврат/пересылку по США запрещенных к отправке товаров за дополнительную плату с согласия Пользователя;</li>
                <li>Исполнитель может оказывать дополнительные услуги (проверка содержимого заказов, дополнительная упаковка, замер и т.п.) 		за отдельную плату.</li>
              </ul>
            </div>
          </div>
          <div class="news_block">
            <div class="title_block">
              <div class="trapezium_figure"></div>
              <h2>Новости</h2>
            </div>
            <div class="news_block_wrap">
              <div class="box_news">
                <div class="date"><span>23.03.2017</span></div>
                <h3>Доставка до двери</h3>
                <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p><a href="#">Подробнее</a>
              </div>
              <div class="box_news">
                <div class="date"><span>23.03.2017</span></div>
                <h3>Доставка до двери</h3>
                <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p><a href="#">Подробнее</a>
              </div>
              <div class="box_news">
                <div class="date"><span>23.03.2017</span></div>
                <h3>Доставка до двери</h3>
                <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p><a href="#">Подробнее</a>
              </div>
            </div>
            <div class="detail_link"><a href="#">Все новости</a></div>
          </div>
        </main>
        <footer>
          <div class="block_preview">
            <div class="text-wrap">
              <h5>C нами покупать в Америке просто!</h5>
              <p class="description_preview">Регистрируйтесь <i class="fa fa-angle-right" aria-hidden="true"></i> Покупайте <i class="fa fa-angle-right" aria-hidden="true"></i> Забирайте покупку</p><a href="stores.html">начать покупать</a>
            </div>
          </div>
          <div class="footer_map">
            <div class="col">
              <h6>О нас</h6><a href="about.html">О компании</a><a href="services.html">Наши услуги</a><a href="Feedback.html">Отзывы</a><a href="contact.html">Контакты</a>
            </div>
            <div class="col">
              <h6>Для Вас</h6><a href="howitwork.html">Как это работает?</a><a href="rules.html">Правила</a><a href="stores.html">Онлайн-магазины</a><a href="cost.html">Стоимость</a><a href="Feedback.html">Отзывы</a>
            </div>
            <div class="col">
              <h6><a href="contact.html">Контакты</a></h6>
              <div class="location">
                <p>Бишкек</p>
                <p>пр. Манаса, 9</p>
                <p>0 312 312 904<span>0 550 321 550</span></p>
                <p>Skype: ExpressUS.kg</p>
                <p>Email: info@ExpressUS.kg</p>
              </div>
            </div>
            <div class="col">
              <div class="location">
                <p>США</p>
                <p>8 McCullough Dr.,<span>suite KG23356,</span></p>
                <p>New Castle, Delaware<span>(DE) 19726 или 19726-2079</span></p>
                <p>Tel: 973-253-0050</p>
              </div>
            </div>
            <div class="col">
              <div class="logo_footer"></div>
              <p>ExpressUS 2017</p><a href="https://breez.pro/">Дизайн: Breez</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="popup">
      <div class="popup-wrap"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Вход</h2>
              </div><a class="register_form" href="#">Регистрация</a><a class="reset_form" href="#">Забыли пароль?</a>
            </div>
            <div class="wrap_form clearfix">
              <input type="email" placeholder="* Email" required>
              <input type="text" placeholder="Пароль" required>
              <input type="submit" value="Bойти">
            </div>
          </form>
        </div>
      </div>
      <div class="popup_reg">
        <div class="popup-wrap_reg"><a class="close_modal popup-close" href="#"></a>
          <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
            <form>
              <div class="popup_title clearfix">
                <div class="title_block">
                  <div class="trapezium_figure"></div>
                  <h2>Регистрация</h2>
                </div><a class="login_form" href="#">Вход</a><a class="reset_form" href="#">Забыли пароль?</a>
              </div>
              <div class="wrap_form clearfix">
                <input type="text" placeholder="Имя" required>
                <input type="text" placeholder="Фамилия" required>
                <input type="text" placeholder="Телефон" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Пароль" required>
                <input type="password" placeholder="Повтор пароля" required>
                <label class="bi-checkbox" for="rules">
                  <input type="checkbox" id="rules" required>
                  <div class="fake-checkbox">
                    <div class="check"></div>
                  </div>
                  <div class="icon"></div>
                  <p>Я согласен с<a href="rules.html">правилами</a></p>
                </label>
                <p>Перед совершением покупок необходимо будет подробнее заполнить информацию о себе в<span>Личном кабинете</span></p>
                <div class="g-recaptcha" data-sitekey="6Lf9RCgUAAAAAN3tHIfymNgP97J903J93YgFgyJm"></div>
                <input type="submit" value="Регистрация">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="popup-wrap_reset"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Вход</h2>
              </div><a class="login_form" href="#">Вход</a><a class="register_form" href="#">Регистрация</a>
            </div>
            <div class="wrap_form clearfix">
              <input type="email" placeholder="* Email" required>
              <input type="submit" value="Отправить">
            </div>
          </form>
        </div>
      </div>
      <div class="popup-wrap_feed"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Ваш отзыв</h2>
              </div>
            </div>
            <div class="wrap_form clearfix">
              <input type="text" placeholder="Имя" required>
              <input type="text" placeholder="Телефон" required>
              <textarea placeholder="Напишите ваш отзыв" maxlength="500"></textarea>
              <input type="submit" value="Отправить">
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="vendor/jquery/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="vendor/slick/slick.min.js"></script>
    <script src="vendor/filterizr/jquery.filterizr.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="js/controls.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">$(function(){$('.filtr-container').filterizr();});</script>
  </body>
</html>

app/templates/rules.pug
extends includes/layout
block header
	.bread_crumbs
		a(href="index.html") Главная
			i(class="fa fa-angle-right" aria-hidden="true")
		span Правила
	button.btn_singin Вход

block promo
	.promo_bg.faq
		h1 Правила
		p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил.
block content
	.block_rules
		.title_rules
			h3 Правила предоставления услуг по пересылке почтовых отправлений
		.rules_body
			.section
				h4 1.Используемые определения
				p <span>Исполнитель</span> – компания ExpressUS (ОсОО «Экспресс-Ю-Эс»), предоставляющая услуги по пересылке почтовых отправлений из Соединенных Штатов Америки (США) в Кыргызскую Республику в соответствии с условиями пункта 1 раздела I Инструкции «О перемещении товаров и автотранспорта через государственную границу Кыргызской Республики физическими лицами», утвержденной постановлением Правительства Кыргызской Республики «Об утверждении Инструкции о перемещении товаров и автотранспорта через государственную границу Кыргызской Республики физическими лицами» от 31 декабря 2004 года N 976.
				p <span>Пользователь</span> – клиент компании ExpressUS (ОсОО «Экспресс-Ю-Эс»), согласившийся на сотрудничество согласно настоящим Условиям.
				p <span>Уникальный почтовый адрес</span> - почтовый адрес, находящийся на территории США, штат Делавер, который может быть использован Пользователем для получения заказов из интернет магазинов в целях дальнейшего переправления в Кыргызскую Республику. Уникальный Почтовый Адрес указан на главной странице сайта http://expressus.kg/.
				p <span>Заказ в интернет магазине (или заказы)</span> – одна или более вещей, приобретенных Исполнителем или Пользователем в интернет магазине, отправленных из интернет магазина на Уникальный почтовый адрес Исполнителя в США, и имеющий уникальный трекинг номер.
				p <span>Самостоятельный заказ</span> - заказ, сделанный и оплаченный Пользователем самостоятельно.
				p <span>Заказ через ExpressUS</span> - заказ, сделанный и оплаченный ExpressUS по просьбе Пользователя.
				p <span>Трекинг номер (номер отслеживания или tracking number)</span> – уникальный номер, присваиваемый почтовой или курьерской службой, для идентификации почтового отправления в системе доставки почтовой или курьерской службы, а также использующийся Исполнителем и Пользователем в целях отслеживания движения заказа.
				p <span>Невостребованные заказы</span> – заказы, не востребованные в течение 14 календарных дней с момента доставки в г. Бишкек, Кыргызская Республика.
				p <span>Запрещенные товары</span> - товары, которые запрещены к отправке из США в Бишкек в соответствии с законодательством США и Кыргызской Республики, а также политикой Исполнителя.
		.section
			h4 2.Оказываемые услуги
			p Исполнитель обязуется оказать следующие Услуги по пересылке почтовых отправлений:
			ul
				li предоставить Уникальный почтовый адрес на территории штата Делавер (США) для получения заказов, размещенных и 	   			оплаченных Пользователем или Исполнителем в интернет магазинах;
				li получить Заказы, размещенные и оплаченные Пользователем или Исполнителем и доставленные почтовыми службами по 			Уникальному почтовому адресу;
				li информировать Пользователя о движении Заказа через систему сайта http://expressus.kg/, а также по электронной почте (при 		условии верного оформления заказа Пользователем);
				li Исполнитель строго следит за тем, чтобы к отправлению в Кыргызстан не попали товары, запрещенные к пересылке. При 			обнаружении запрещенных к пересылке предметов таковые изымаются из вложения. Исполнитель может осуществить 				возврат/пересылку по США запрещенных к отправке товаров за дополнительную плату с согласия Пользователя;
				li Исполнитель может оказывать дополнительные услуги (проверка содержимого заказов, дополнительная упаковка, замер и т.п.) 		за отдельную плату.
	block news
		include includes/news
