app/templates/stores.pug
extends includes/layout
block header
	.bread_crumbs
		a(href="index.html") Главная
			i(class="fa fa-angle-right" aria-hidden="true")
		span О компании ExpressUS
	button.btn_singin Вход

block promo
	.promo_bg.stores
		h1 Магазины
		p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил.
		button.reg_button зарегистрироваться

block content
	.stores_block_category
		.wrap_button_category.tabs
			span(class="tab-link current" data-tab="tab-1") Категории
			span(class="tab-link" data-tab="tab-2") Популярные
			span(class="tab-link" data-tab="tab-3") Все магазины
			.search-row
				input(type="text" class="filtr-search" name="filtr-search" data-search placeholder="Найти магазин по названию")
				button
					i(class="fa fa-search" aria-hidden="true")
		div(id="tab-1" class="tab-content current filter_block")
			.tab_upper
				ul(class="multifilter clearfix")
					li(data-multifilter="1" class="shop_cart clearfix")
						span Интернет-гипермаркеты
						i(class="fa fa-chevron-down" aria-hidden="true")
					li(data-multifilter="2" class="dress clearfix")
						span Одежда
						i(class="fa fa-chevron-down" aria-hidden="true")
					li(data-multifilter="3" class="shoes clearfix")
						span Обувь
						i(class="fa fa-chevron-down" aria-hidden="true")
					li(data-multifilter="4" class="stuff clearfix")
						span Сумки и аксессуары
						i(class="fa fa-chevron-down" aria-hidden="true")
					li(data-multifilter="5" class="jewellery clearfix")
						span Часы и украшения
						i(class="fa fa-chevron-down" aria-hidden="true")
					li(data-multifilter="6" class="bowl clearfix")
						span Спорт и отдых
						i(class="fa fa-chevron-down" aria-hidden="true")
					li(data-multifilter="7" class="underwear clearfix")
						span Белье
						i(class="fa fa-chevron-down" aria-hidden="true")
			.online_stores.filtr-container
				div(class="filtr-item" data-category="1, 5, 3" data-sort="amazon")
					img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="2, 14" data-sort="ebay")
					img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 2, 5, 14" data-sort="6pm dress")
					img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 5, 6, 10" data-sort="logo underwear")
					img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 6, 11" data-sort="logo")
					img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 8, 3, 6" data-sort="logo")
					img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 4, 5, 9, 13" data-sort="logo")
					img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 5, 6, 8, 10" data-sort="logo")
					img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 2, 9, 12" data-sort="logo")
					img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 2, 3, 5, 11" data-sort="logo")
					img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 5, 14" data-sort="logo")
					img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 5, 11, 13" data-sort="logo")
					img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
			.tab_under
				ul(class="multifilter clearfix")
					li(data-multifilter="8" class="technic clearfix")
						i( class="fa fa-chevron-up" aria-hidden="true")
						span Электроника и техника
					li(data-multifilter="9" class="infant clearfix")
						i(class="fa fa-chevron-up" aria-hidden="true")
						span Для мам и детей
					li(data-multifilter="10" class="wedding clearfix")
						i(class="fa fa-chevron-up" aria-hidden="true")
						span Свадебные и вечерние наряды
					li(data-multifilter="11" class="sport clearfix")
						i(class="fa fa-chevron-up" aria-hidden="true")
						span Для спорта и отдыха
					li(data-multifilter="12" class="house clearfix")
						i(class="fa fa-chevron-up" aria-hidden="true")
						span Для дома
					li(data-multifilter="13" class="souvenir clearfix")
						i(class="fa fa-chevron-up" aria-hidden="true")
						span Сувениры и все для праздников
					li(data-multifilter="14" class="needlework clearfix")
						i(class="fa fa-chevron-up" aria-hidden="true")
						span Для рукоделия
		div(id="tab-2" class="tab-content")
			div(class="filtr-item")
				img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
		div(id="tab-3" class="tab-content")
			div(class="filtr-item")
				img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
		.block_warn
			.col_left
				span.icon_1
				span.icon_2
				span.icon_3
				span.icon_4
			.col_right
				h2 Запрещенные вещи к пересылке
				p  Оружие огнестрельное, сигнальное, пневматическое, газовое, боеприпасы, холодное (включая метательное), электрошоковые устройства и искровые разрядники, а также основные части огнестрельного оружия;
				p Наркотики и наркотические средства любого происхождения, психотропные вещества;
				p Радиоактивные вещества;
				button.detail Подробнее
	block news
		include includes/news

app/stores.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 36x36 48x48 57x57 60x60 64x64 70x70 72x72 76x76 96x96 114x114 120x120 144x144 150x150 152x152 180x180 192x192 310x150 310x310" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i&amp;amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Express US</title>
  </head>
  <body>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?146"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src ="http://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.9";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
    <div class="grid">
      <div class="side_menu">
        <div class="wrapper" id="wrapper">
          <div class="toolbar" id="toolbar"><a href="" id="menu-toggle"><span class="burger"><i class="fa fa-bars" aria-hidden="true"></i></span></a></div>
        </div><!--sidebar-->
        <div class="sidebar-wrapper">
          <div class="logo"><a href="index.html"></a></div>
          <ul class="sidebar-nav">
            <li><a class="nav_items" href="howitwork.html">Как это работает?</a></li>
            <li><a class="nav_items" href="services.html"> Наши услуги</a></li>
            <li><a class="nav_items" href="cost.html">Стоимость</a></li>
            <li><a class="nav_items" href="stores.html">Магазины</a></li>
            <li><a class="nav_items" href="faq.html">Ответы</a></li>
            <li><a class="nav_items" href="feedback.html">Отзывы</a></li>
            <li><a class="nav_items" href="news.html"> Новости</a></li>
          </ul>
          <div class="line_decorate"></div>
          <div class="navigate_menu"><a class="nav_items" href="about.html">О компании</a><a class="nav_items" href="rules.html">Правила</a><a class="nav_items" href="contact.html"> Контакты</a>
          </div>
          <div class="contact_box"><span>0 312 312 904</span><span class="telegram">0 550 321 550</span><span class="WA">@expressus</span></div>
        </div>
      </div>
      <div class="page_container right-content">
        <header>
          <div class="bread_crumbs"><a href="index.html">Главная<i class="fa fa-angle-right" aria-hidden="true"></i></a><span>О компании ExpressUS</span></div>
          <button class="btn_singin">Вход</button>
        </header>
        <div class="promo_page">
          <div class="promo_bg stores">
            <h1>Магазины</h1>
            <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил.</p>
            <button class="reg_button">зарегистрироваться</button>
          </div>
        </div>
        <main class="main">
          <div class="stores_block_category">
            <div class="wrap_button_category tabs"><span class="tab-link current" data-tab="tab-1">Категории</span><span class="tab-link" data-tab="tab-2">Популярные</span><span class="tab-link" data-tab="tab-3">Все магазины</span>
              <div class="search-row">
                <input class="filtr-search" type="text" name="filtr-search" data-search placeholder="Найти магазин по названию">
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="tab-content current filter_block" id="tab-1">
              <div class="tab_upper">
                <ul class="multifilter clearfix">
                  <li class="shop_cart clearfix" data-multifilter="1"><span>Интернет-гипермаркеты</span><i class="fa fa-chevron-down" aria-hidden="true"></i></li>
                  <li class="dress clearfix" data-multifilter="2"><span>Одежда</span><i class="fa fa-chevron-down" aria-hidden="true"></i></li>
                  <li class="shoes clearfix" data-multifilter="3"><span>Обувь</span><i class="fa fa-chevron-down" aria-hidden="true"></i></li>
                  <li class="stuff clearfix" data-multifilter="4"><span>Сумки и аксессуары</span><i class="fa fa-chevron-down" aria-hidden="true"></i></li>
                  <li class="jewellery clearfix" data-multifilter="5"><span>Часы и украшения</span><i class="fa fa-chevron-down" aria-hidden="true"></i></li>
                  <li class="bowl clearfix" data-multifilter="6"><span>Спорт и отдых</span><i class="fa fa-chevron-down" aria-hidden="true"></i></li>
                  <li class="underwear clearfix" data-multifilter="7"><span>Белье</span><i class="fa fa-chevron-down" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="online_stores filtr-container">
                <div class="filtr-item" data-category="1, 5, 3" data-sort="amazon"><img src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop"></div>
                <div class="filtr-item" data-category="2, 14" data-sort="ebay"><img src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop"></div>
                <div class="filtr-item" data-category="1, 2, 5, 14" data-sort="6pm dress"><img src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop"></div>
                <div class="filtr-item" data-category="1, 5, 6, 10" data-sort="logo underwear"><img src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop"></div>
                <div class="filtr-item" data-category="1, 6, 11" data-sort="logo"><img src="uploads/levis.jpg" width="200" height="138" alt="logo online shop"></div>
                <div class="filtr-item" data-category="1, 8, 3, 6" data-sort="logo"><img src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop"></div>
                <div class="filtr-item" data-category="1, 4, 5, 9, 13" data-sort="logo"><img src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop"></div>
                <div class="filtr-item" data-category="1, 5, 6, 8, 10" data-sort="logo"><img src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop"></div>
                <div class="filtr-item" data-category="1, 2, 9, 12" data-sort="logo"><img src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop"></div>
                <div class="filtr-item" data-category="1, 2, 3, 5, 11" data-sort="logo"><img src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop"></div>
                <div class="filtr-item" data-category="1, 5, 14" data-sort="logo"><img src="uploads/levis.jpg" width="200" height="138" alt="logo online shop"></div>
                <div class="filtr-item" data-category="1, 5, 11, 13" data-sort="logo"><img src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop"></div>
              </div>
              <div class="tab_under">
                <ul class="multifilter clearfix">
                  <li class="technic clearfix" data-multifilter="8"><i class="fa fa-chevron-up" aria-hidden="true"></i><span>Электроника и техника</span></li>
                  <li class="infant clearfix" data-multifilter="9"><i class="fa fa-chevron-up" aria-hidden="true"></i><span>Для мам и детей</span></li>
                  <li class="wedding clearfix" data-multifilter="10"><i class="fa fa-chevron-up" aria-hidden="true"></i><span>Свадебные и вечерние наряды</span></li>
                  <li class="sport clearfix" data-multifilter="11"><i class="fa fa-chevron-up" aria-hidden="true"></i><span>Для спорта и отдыха</span></li>
                  <li class="house clearfix" data-multifilter="12"><i class="fa fa-chevron-up" aria-hidden="true"></i><span>Для дома</span></li>
                  <li class="souvenir clearfix" data-multifilter="13"><i class="fa fa-chevron-up" aria-hidden="true"></i><span>Сувениры и все для праздников</span></li>
                  <li class="needlework clearfix" data-multifilter="14"><i class="fa fa-chevron-up" aria-hidden="true"></i><span>Для рукоделия</span></li>
                </ul>
              </div>
            </div>
            <div class="tab-content" id="tab-2">
              <div class="filtr-item"><img src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/levis.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/levis.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/levis.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop"></div>
            </div>
            <div class="tab-content" id="tab-3">
              <div class="filtr-item"><img src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/levis.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/levis.jpg" width="200" height="138" alt="logo online shop"></div>
              <div class="filtr-item"><img src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop"></div>
            </div>
            <div class="block_warn">
              <div class="col_left"><span class="icon_1"></span><span class="icon_2"></span><span class="icon_3"></span><span class="icon_4"></span></div>
              <div class="col_right">
                <h2>Запрещенные вещи к пересылке</h2>
                <p> Оружие огнестрельное, сигнальное, пневматическое, газовое, боеприпасы, холодное (включая метательное), электрошоковые устройства и искровые разрядники, а также основные части огнестрельного оружия;</p>
                <p>Наркотики и наркотические средства любого происхождения, психотропные вещества;</p>
                <p>Радиоактивные вещества;</p>
                <button class="detail">Подробнее</button>
              </div>
            </div>
          </div>
          <div class="news_block">
            <div class="title_block">
              <div class="trapezium_figure"></div>
              <h2>Новости</h2>
            </div>
            <div class="news_block_wrap">
              <div class="box_news">
                <div class="date"><span>23.03.2017</span></div>
                <h3>Доставка до двери</h3>
                <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p><a href="#">Подробнее</a>
              </div>
              <div class="box_news">
                <div class="date"><span>23.03.2017</span></div>
                <h3>Доставка до двери</h3>
                <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p><a href="#">Подробнее</a>
              </div>
              <div class="box_news">
                <div class="date"><span>23.03.2017</span></div>
                <h3>Доставка до двери</h3>
                <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p><a href="#">Подробнее</a>
              </div>
            </div>
            <div class="detail_link"><a href="#">Все новости</a></div>
          </div>
        </main>
        <footer>
          <div class="block_preview">
            <div class="text-wrap">
              <h5>C нами покупать в Америке просто!</h5>
              <p class="description_preview">Регистрируйтесь <i class="fa fa-angle-right" aria-hidden="true"></i> Покупайте <i class="fa fa-angle-right" aria-hidden="true"></i> Забирайте покупку</p><a href="stores.html">начать покупать</a>
            </div>
          </div>
          <div class="footer_map">
            <div class="col">
              <h6>О нас</h6><a href="about.html">О компании</a><a href="services.html">Наши услуги</a><a href="Feedback.html">Отзывы</a><a href="contact.html">Контакты</a>
            </div>
            <div class="col">
              <h6>Для Вас</h6><a href="howitwork.html">Как это работает?</a><a href="rules.html">Правила</a><a href="stores.html">Онлайн-магазины</a><a href="cost.html">Стоимость</a><a href="Feedback.html">Отзывы</a>
            </div>
            <div class="col">
              <h6><a href="contact.html">Контакты</a></h6>
              <div class="location">
                <p>Бишкек</p>
                <p>пр. Манаса, 9</p>
                <p>0 312 312 904<span>0 550 321 550</span></p>
                <p>Skype: ExpressUS.kg</p>
                <p>Email: info@ExpressUS.kg</p>
              </div>
            </div>
            <div class="col">
              <div class="location">
                <p>США</p>
                <p>8 McCullough Dr.,<span>suite KG23356,</span></p>
                <p>New Castle, Delaware<span>(DE) 19726 или 19726-2079</span></p>
                <p>Tel: 973-253-0050</p>
              </div>
            </div>
            <div class="col">
              <div class="logo_footer"></div>
              <p>ExpressUS 2017</p><a href="https://breez.pro/">Дизайн: Breez</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="popup">
      <div class="popup-wrap"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Вход</h2>
              </div><a class="register_form" href="#">Регистрация</a><a class="reset_form" href="#">Забыли пароль?</a>
            </div>
            <div class="wrap_form clearfix">
              <input type="email" placeholder="* Email" required>
              <input type="text" placeholder="Пароль" required>
              <input type="submit" value="Bойти">
            </div>
          </form>
        </div>
      </div>
      <div class="popup_reg">
        <div class="popup-wrap_reg"><a class="close_modal popup-close" href="#"></a>
          <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
            <form>
              <div class="popup_title clearfix">
                <div class="title_block">
                  <div class="trapezium_figure"></div>
                  <h2>Регистрация</h2>
                </div><a class="login_form" href="#">Вход</a><a class="reset_form" href="#">Забыли пароль?</a>
              </div>
              <div class="wrap_form clearfix">
                <input type="text" placeholder="Имя" required>
                <input type="text" placeholder="Фамилия" required>
                <input type="text" placeholder="Телефон" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Пароль" required>
                <input type="password" placeholder="Повтор пароля" required>
                <label class="bi-checkbox" for="rules">
                  <input type="checkbox" id="rules" required>
                  <div class="fake-checkbox">
                    <div class="check"></div>
                  </div>
                  <div class="icon"></div>
                  <p>Я согласен с<a href="rules.html">правилами</a></p>
                </label>
                <p>Перед совершением покупок необходимо будет подробнее заполнить информацию о себе в<span>Личном кабинете</span></p>
                <div class="g-recaptcha" data-sitekey="6Lf9RCgUAAAAAN3tHIfymNgP97J903J93YgFgyJm"></div>
                <input type="submit" value="Регистрация">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="popup-wrap_reset"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Вход</h2>
              </div><a class="login_form" href="#">Вход</a><a class="register_form" href="#">Регистрация</a>
            </div>
            <div class="wrap_form clearfix">
              <input type="email" placeholder="* Email" required>
              <input type="submit" value="Отправить">
            </div>
          </form>
        </div>
      </div>
      <div class="popup-wrap_feed"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Ваш отзыв</h2>
              </div>
            </div>
            <div class="wrap_form clearfix">
              <input type="text" placeholder="Имя" required>
              <input type="text" placeholder="Телефон" required>
              <textarea placeholder="Напишите ваш отзыв" maxlength="500"></textarea>
              <input type="submit" value="Отправить">
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="vendor/jquery/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="vendor/slick/slick.min.js"></script>
    <script src="vendor/filterizr/jquery.filterizr.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="js/controls.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">$(function(){$('.filtr-container').filterizr();});</script>
  </body>
</html>
