app/user_profile.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 36x36 48x48 57x57 60x60 64x64 70x70 72x72 76x76 96x96 114x114 120x120 144x144 150x150 152x152 180x180 192x192 310x150 310x310" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i&amp;amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Express US</title>
  </head>
  <body>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?146"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src ="http://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.9";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
    <div class="grid">
      <div class="side_menu">
        <div class="wrapper" id="wrapper">
          <div class="toolbar" id="toolbar"><a href="" id="menu-toggle"><span class="burger"><i class="fa fa-bars" aria-hidden="true"></i></span></a></div>
        </div><!--sidebar-->
        <div class="sidebar-wrapper">
          <div class="logo"><a href="index.html"></a></div>
          <ul class="sidebar-nav">
            <li><a class="nav_items" href="howitwork.html">Как это работает?</a></li>
            <li><a class="nav_items" href="services.html"> Наши услуги</a></li>
            <li><a class="nav_items" href="cost.html">Стоимость</a></li>
            <li><a class="nav_items" href="stores.html">Магазины</a></li>
            <li><a class="nav_items" href="faq.html">Ответы</a></li>
            <li><a class="nav_items" href="feedback.html">Отзывы</a></li>
            <li><a class="nav_items" href="news.html"> Новости</a></li>
          </ul>
          <div class="line_decorate"></div>
          <div class="navigate_menu"><a class="nav_items" href="about.html">О компании</a><a class="nav_items" href="rules.html">Правила</a><a class="nav_items" href="contact.html"> Контакты</a>
          </div>
          <div class="contact_box"><span>0 312 312 904</span><span class="telegram">0 550 321 550</span><span class="WA">@expressus</span></div>
        </div>
      </div>
      <div class="page_container right-content">
        <header>
          <header class="header inversed">
            <div class="btn_wrap"><a class="btn_checkout" href="user_profile.html">оформить заказ</a><a class="lnk_my_orders" href="user_profile_find_new.html">мои заказы</a></div>
            <div class="user_profile">
              <div class="user_name">Алекс Дельперо</div><a class="edit" href="">Редактировать</a>
              <button class="btn_exite">Выход</button>
            </div>
          </header>
        </header>
        <div class="promo_page">
        </div>
        <main class="main">
          <div class="on_user_profile_page">
            <div class="title_block">
              <div class="trapezium_figure"></div>
              <h2>Мои заказы</h2>
            </div>
            <div class="list_order_block">
              <h2 class="title">Поиск заказа по трекинг номеру</h2>
              <div class="form_">
                <form>
                  <input type="text" placeholder="Трекинг номер (Tracking number)" name="Tracking">
                  <select>
                    <option value="Выбранная Вами служба доставки" disabled></option>
                    <option value="служба доставки"></option>
                    <option value="служба доставки"></option>
                  </select>
                  <button>Подробнее</button><a href="#">Все заказы</a>
                </form>
              </div>
              <div class="table_form">
                <table class="fixed_table">
                  <thead>
                    <tr>
                      <td></td>
                      <td>Заказ №</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>№1524</td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>№1524</td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>№1524</td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>№1524</td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <thead>
                    <tr>
                      <td></td>
                      <td>Заказ №</td>
                      <td>Фамилия Имя</td>
                      <td>Трекинг номер</td>
                      <td>Служба доставки</td>
                      <td>Описание заказа</td>
                      <td>Стоимость</td>
                      <td>Сайт где сделали заказ</td>
                      <td>Статус</td>
                      <td>Дата заказа</td>
                      <td>Дата отправки из США</td>
                      <td>Дата фактического прибытия</td>
                      <td>Ред.</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>№1524</td>
                      <td>Алекс Дельперо</td>
                      <td>new</td>
                      <td>USPS</td>
                      <td>рюкзак</td>
                      <td>239</td>
                      <td>amazon.com</td>
                      <td>
                        <select>
                          <option>Принят</option>
                          <option></option>
                        </select>
                      </td>
                      <td>11.07.2017</td>
                      <td></td>
                      <td></td>
                      <td><a href="#">Ред.</a></td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>№2545</td>
                      <td>Алекс Дельперо</td>
                      <td>new</td>
                      <td>USPS</td>
                      <td>кеды</td>
                      <td>306</td>
                      <td>ebay.com</td>
                      <td>
                        <select>
                          <option>Принят</option>
                          <option></option>
                        </select>
                      </td>
                      <td>11.07.2017</td>
                      <td></td>
                      <td></td>
                      <td><a href="#">Ред.</a></td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>№1524</td>
                      <td>Алекс Дельперо</td>
                      <td>new</td>
                      <td>USPS</td>
                      <td>рюкзак</td>
                      <td>239</td>
                      <td>amazon.com</td>
                      <td>
                        <select>
                          <option>Принят</option>
                          <option></option>
                        </select>
                      </td>
                      <td>11.07.2017</td>
                      <td></td>
                      <td></td>
                      <td><a href="#">Ред.</a></td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>№2545</td>
                      <td>Алекс Дельперо</td>
                      <td>new</td>
                      <td>USPS</td>
                      <td>кеды</td>
                      <td>306</td>
                      <td>ebay.com</td>
                      <td>
                        <select>
                          <option>Принят</option>
                          <option></option>
                        </select>
                      </td>
                      <td>11.07.2017</td>
                      <td></td>
                      <td></td>
                      <td><a href="#">Ред.</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </main>
        <footer>
          <div class="block_preview">
            <div class="text-wrap">
              <h5>C нами покупать в Америке просто!</h5>
              <p class="description_preview">Регистрируйтесь <i class="fa fa-angle-right" aria-hidden="true"></i> Покупайте <i class="fa fa-angle-right" aria-hidden="true"></i> Забирайте покупку</p><a href="stores.html">начать покупать</a>
            </div>
          </div>
          <div class="footer_map">
            <div class="col">
              <h6>О нас</h6><a href="about.html">О компании</a><a href="services.html">Наши услуги</a><a href="Feedback.html">Отзывы</a><a href="contact.html">Контакты</a>
            </div>
            <div class="col">
              <h6>Для Вас</h6><a href="howitwork.html">Как это работает?</a><a href="rules.html">Правила</a><a href="stores.html">Онлайн-магазины</a><a href="cost.html">Стоимость</a><a href="Feedback.html">Отзывы</a>
            </div>
            <div class="col">
              <h6><a href="contact.html">Контакты</a></h6>
              <div class="location">
                <p>Бишкек</p>
                <p>пр. Манаса, 9</p>
                <p>0 312 312 904<span>0 550 321 550</span></p>
                <p>Skype: ExpressUS.kg</p>
                <p>Email: info@ExpressUS.kg</p>
              </div>
            </div>
            <div class="col">
              <div class="location">
                <p>США</p>
                <p>8 McCullough Dr.,<span>suite KG23356,</span></p>
                <p>New Castle, Delaware<span>(DE) 19726 или 19726-2079</span></p>
                <p>Tel: 973-253-0050</p>
              </div>
            </div>
            <div class="col">
              <div class="logo_footer"></div>
              <p>ExpressUS 2017</p><a href="https://breez.pro/">Дизайн: Breez</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="popup">
      <div class="popup-wrap"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Вход</h2>
              </div><a class="register_form" href="#">Регистрация</a><a class="reset_form" href="#">Забыли пароль?</a>
            </div>
            <div class="wrap_form clearfix">
              <input type="email" placeholder="* Email" required>
              <input type="text" placeholder="Пароль" required>
              <input type="submit" value="Bойти">
            </div>
          </form>
        </div>
      </div>
      <div class="popup_reg">
        <div class="popup-wrap_reg"><a class="close_modal popup-close" href="#"></a>
          <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
            <form>
              <div class="popup_title clearfix">
                <div class="title_block">
                  <div class="trapezium_figure"></div>
                  <h2>Регистрация</h2>
                </div><a class="login_form" href="#">Вход</a><a class="reset_form" href="#">Забыли пароль?</a>
              </div>
              <div class="wrap_form clearfix">
                <input type="text" placeholder="Имя" required>
                <input type="text" placeholder="Фамилия" required>
                <input type="text" placeholder="Телефон" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Пароль" required>
                <input type="password" placeholder="Повтор пароля" required>
                <label class="bi-checkbox" for="rules">
                  <input type="checkbox" id="rules" required>
                  <div class="fake-checkbox">
                    <div class="check"></div>
                  </div>
                  <div class="icon"></div>
                  <p>Я согласен с<a href="rules.html">правилами</a></p>
                </label>
                <p>Перед совершением покупок необходимо будет подробнее заполнить информацию о себе в<span>Личном кабинете</span></p>
                <div class="g-recaptcha" data-sitekey="6Lf9RCgUAAAAAN3tHIfymNgP97J903J93YgFgyJm"></div>
                <input type="submit" value="Регистрация">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="popup-wrap_reset"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Вход</h2>
              </div><a class="login_form" href="#">Вход</a><a class="register_form" href="#">Регистрация</a>
            </div>
            <div class="wrap_form clearfix">
              <input type="email" placeholder="* Email" required>
              <input type="submit" value="Отправить">
            </div>
          </form>
        </div>
      </div>
      <div class="popup-wrap_feed"><a class="popup-close close_modal" href="#"></a>
        <div class="form"><i class="fa fa-times popup-close" aria-hidden="true"></i>
          <form>
            <div class="popup_title clearfix">
              <div class="title_block">
                <div class="trapezium_figure"></div>
                <h2>Ваш отзыв</h2>
              </div>
            </div>
            <div class="wrap_form clearfix">
              <input type="text" placeholder="Имя" required>
              <input type="text" placeholder="Телефон" required>
              <textarea placeholder="Напишите ваш отзыв" maxlength="500"></textarea>
              <input type="submit" value="Отправить">
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="vendor/jquery/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="vendor/slick/slick.min.js"></script>
    <script src="vendor/filterizr/jquery.filterizr.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="js/controls.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">$(function(){$('.filtr-container').filterizr();});</script>
  </body>
</html>

app/templates/user_profile.pug
extends includes/layout

block header
	header.header.inversed
		.btn_wrap
			a(href="user_profile.html" class="btn_checkout") оформить заказ
			a(href="user_profile_find_new.html").lnk_my_orders мои заказы
		.user_profile
			.user_name Алекс Дельперо
			a(href="").edit Редактировать
			button.btn_exite Выход
block content
	.on_user_profile_page
		.title_block
			.trapezium_figure
			h2 Мои заказы
		.list_order_block
			h2.title Поиск заказа по трекинг номеру
			.form_
				form
					input(type="text" placeholder="Трекинг номер (Tracking number)" name="Tracking")
					select
						option(value="Выбранная Вами служба доставки" disabled)
						option(value="служба доставки")
						option(value="служба доставки")
					button Подробнее
					a(href="#") Все заказы
			.table_form
				table.fixed_table
					thead
						tr
							td
							td Заказ №
					tbody
						tr
							td
								input(type="checkbox")
							td №1524
						tr
							td
								input(type="checkbox")
							td №1524
						tr
							td
								input(type="checkbox")
							td №1524
						tr
							td
								input(type="checkbox")
							td №1524
				table
					thead
						tr
							td
							td Заказ №
							td Фамилия Имя
							td Трекинг номер
							td Служба доставки
							td Описание заказа
							td Стоимость
							td Сайт где сделали заказ
							td Статус
							td Дата заказа
							td Дата отправки из США
							td Дата фактического прибытия
							td Ред.
					tbody
						tr
							td
								input(type="checkbox")
							td №1524
							td Алекс Дельперо
							td new
							td USPS
							td рюкзак
							td 239
							td amazon.com
							td
								select
									option Принят
									option
							td 11.07.2017
							td
							td
							td
								a(href="#") Ред.
						tr
							td
								input(type="checkbox")
							td №2545
							td Алекс Дельперо
							td new
							td USPS
							td кеды
							td 306
							td ebay.com
							td
								select
									option Принят
									option
							td 11.07.2017
							td
							td
							td
								a(href="#") Ред.
						tr
							td
								input(type="checkbox")
							td №1524
							td Алекс Дельперо
							td new
							td USPS
							td рюкзак
							td 239
							td amazon.com
							td
								select
									option Принят
									option
							td 11.07.2017
							td
							td
							td
								a(href="#") Ред.
						tr
							td
								input(type="checkbox")
							td №2545
							td Алекс Дельперо
							td new
							td USPS
							td кеды
							td 306
							td ebay.com
							td
								select
									option Принят
									option
							td 11.07.2017
							td
							td
							td
								a(href="#") Ред.
